.contenido{
  
  margin:auto;
  
  padding-left:30px;
  padding-right: 30px;
  width: 90%;
  height:80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:50px;
  background:#fff;
  border-radius: 15px;
  /* box-shadow: -3px 21px 75px 1px rgba(235,228,235,1); */
  box-shadow: 2px 7px 39px 0px rgba(0,0,0,0.75);


}



.btn{
  background: #fff;
  color: #000;
  border-radius: 15px;
  border:none;
  padding: 10px;
  transition: all 0.3s ease;
}


.btn:hover{
  background: rgb(192, 201, 195);
  cursor: pointer;
}

.form{
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(65, 141, 203);
  border-radius: 15px;
  
  
}

.form input{
  margin:10px;
  border-radius: 15px;
  padding:5px;
  border:none;
  text-decoration: none;
  outline: none;

}

.btn:active{
  transform: scale(0.5);
  background: #fff;
}



